.message-bar
  %p チャットグループが作成されました。
.contents
  .side-bar
    .user-info
      .user-info__name
        %p user.name
      .user-info__icon
        = link_to fa_icon("edit"), root_path, class: "btn--white"
        = link_to fa_icon("cog"), root_path, class: "btn--white"
    .group-info
      / = @groups.each do |group|
      = render partial: "group-info-temp"#-, locals: { group: group }
  .chat-screen
    .chat-group
      .selected-group
        .selected-group__name
          %p group.name
        .selected-group__member
          %p group.user.name
      .edit-btn
        = link_to "Edit", root_path, class: "btn--skyblue"
    .border
    .chat-post
      / = @messages.each do |message|
      = render partial: "chat-post-temp"#-, locals: { message: message }
    .chat-input
      %form
        .box
          %input.box__text(type="text" placeholder="type a message")
          .label-box
            %label
              = fa_icon("image")
              %input.label-box__file(type="file")
